body {
    background-color: rgb(37, 32, 45);
    color: white;
}

h1{
    text-align: center;
}


.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
.nav > button{
    margin-left: 10px;
}
.algos{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: flex-end;
}
.algos > button{
    margin-right: 10px;
}


.content {
    display:  flex;
    margin-top: 2rem;
    flex-direction:  row;
    justify-content: center;
    /* align-items: center; */
}
.bars {
    /* width: 5px; */
    background-color: rgb(184, 184, 3);
    margin: 1px;
}

